[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-mail = "*"
pillow = "*"
requests = "*"
deta = "*"
twilio = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
