form {
	display: flex;
	flex-direction: column;
	gap: var(--sp2);
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: var(--sp0);

	position: relative;

}

form .h {
	display: flex;
	flex-direction: unset;
	gap: var(--sp1);
	flex-wrap: wrap;
}



label {
	width: fit-content;
	text-transform: capitalize;
}


form input:not([type="radio"]),
form select,
form textarea {
	width: 100%;

	padding: var(--sp2);
	border-radius: var(--sp1);
	border: 2px solid var(--ac4);

	background-color: transparent;
}

form input:not([type="radio"]),
form textarea {
	color: var(--ac1);
}

form select {
	color: var(--ac2);

}



form input:hover,
form select:hover,
form textarea:hover {
	border-color: var(--ac1);
}

form input:focus,
form select:focus,
form textarea:focus {
	border-color: var(--ac1);

}

form .inputGroup.svgi input {
	padding-left: 40px;
}

form input~.svg,
form select~.svg,
form textarea~.svg {
	--inputHeight: 10px;

	position: absolute;
	bottom: var(--inputHeight);
	left: var(--inputHeight);

	fill: var(--ac3);

	transition: fill var(--animTime1);
	transition-timing-function: ease-in-out;
}



form input:hover~.svg,
form select:hover~.svg,
form textarea:hover~.svg {
	fill: var(--cl1);
}

form input:focus~.svg,
form select:focus~.svg,
form textarea:focus~.svg {
	fill: var(--cl1);
}

form textarea {
	display: block;
	resize: none;
	height: 160px;
}


form input[type=submit]:hover {
	background-color: var(--cl1);
	border-color: transparent;
}

form option {
	color: var(--ac2);
	background-color: var(--ac5);
}