:root,
textarea,
select,
input,
button {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;

}

* {
	line-height: 150%;
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s;
	-webkit-text-fill-color: var(--ac1);
}

.error {
	color: var(--cl2);
}

hr {
	border: none;
	border-top: 2px solid var(--ac6);
}

/************************** form ******************/

select {	
	padding: var(--sp2);
	border-radius: var(--sp0);
	outline: 2px solid transparent;
	
	border: none;
	background-color: var(--ac7);
	color: var(--ac2);

	transition: outline-color var(--trans1);
}
select:hover {
	outline-color: var(--ac1);
}