:root,
textarea,
select,
input,
button {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
}

* {
	line-height: 150%;
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	transition-property: background-color, border-color, opacity, outline;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s;
	-webkit-text-fill-color: var(--ac1);
}

.error {
	color: var(--cl2);
}

hr {
	border: none;
	border-top: 2px solid var(--ac6);
}

