:root {
	--trans: 0.2s ease-in-out;
	--mobileWidth: 720px;
	--headerHeight: 80px;
	--aTime: 1s;

	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 64px;

	--cl1: rgb(255, 102, 51);
	--cl1: rgb(0, 0, 204);
	--cl1_l: color-mix(in srgb, var(--cl1), transparent 80%);
	--cl1_d: color-mix(in srgb, var(--cl1), black 30%);
	--cl2: red;
	--cl3: green;
	--cl4: rgb(255, 162, 0);
	--overlay: rgba(128, 128, 128, 0.5);

	--input: hsla(230, 30%, 41%, 0.1);
	
	--ft1_d: black;
	--ft1_b: white;
	--ft2_d: hsl(0, 0%, 30%);	
	--ft2_b: hsl(0, 0%, 70%);
}

main {
	--button: hsl(0, 0%, 10%);
	--ft1: var(--ft1_d);
	--ft2: var(--ft2_d);
	--bg2: hsl(233, 10%, 89%);
	--bg1: white;
}

main.dark {
	--button: hsl(0, 0%, 10%);
	--ft1: var(--ft1_b);
	--ft2: var(--ft2_b);
	--bg2: hsl(0, 0%, 10%);
	--bg1: hsl(0, 0%, 5%);
}