:root {
	--trans: 0.2s ease-in-out;
	--mobileWidth: 800px;
	--headerHeight: 80px;
	--aTime: 1s;

	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 64px;
	--sp5: 80px;

	--cl1: rgb(0, 0, 204);
	--cl1_l: color-mix(in srgb, var(--cl1), transparent 80%);
	--cl1_d: color-mix(in srgb, var(--cl1), black 30%);
	--cl2: red;
	--cl3: green;
	--cl4: rgb(255, 162, 0);
	--overlay: rgba(128, 128, 128, 0.5);
	
	--cl5: #EF5A6F;
	--cl6: hsl(25, 32%, 40%);
	
	--input: hsla(230, 30%, 41%, 0.1);
	
	--cld: black;
	--clb: white;
	--ft2: hsl(0, 0%, 50%);
}

main {
	--button: hsl(0, 0%, 10%);
	--ft1: var(--cld);
	--bg2: hsl(233, 10%, 89%);
	--bg1: white;
}

main.dark {
	--button: hsl(0, 0%, 10%);
	--ft1: var(--clb);
	--bg2: hsl(0, 0%, 10%);
	--bg1: hsl(0, 0%, 5%);
}