:root {
	/* --trans1: all 0.2s ease-in-out; */
	--trans1: 1s ease-in-out;
	
	--mobileWidth: 720px;
	--mobileWidth2: 1200px;
	--mobileMenuWidth: 300px;

	--headerHeight: 80px;
	--animTime1: 0.2s;
	--animTime2: 0.5s;
	--animTime3: 1s;

	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 32px;
	--sp5: calc(var(--sp4) * 2);

	--cl1: rgb(255, 102, 51);
	--cl1_l: color-mix(in srgb, var(--cl1), transparent 90%);
	--cl1_d: color-mix(in srgb, var(--cl1), black 30%);
	--cl2: red;
	--cl3: green;
	--cl4: rgb(255, 162, 0);

	--overlay: rgba(128, 128, 128, 0.5);

	--ac1_: black;
	--ac2_: hsl(0, 0%, 30%);
	
	--ac4_: hsl(0, 0%, 50%);
	--ac6_: hsl(0, 0%, 75%);
	--ac7_: hsl(0, 0%, 85%);
	--ac8_: white;

}

main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);

	--ac4: var(--ac4_);
	--ac6: var(--ac6_);
	--ac7: var(--ac7_);
	--ac8: var(--ac8_);
}

main.dark {
	--ac1: white;
	--ac2: hsl(0, 0%, 70%);

	--ac4: hsl(0, 0%, 25%);
	--ac6: hsl(0, 0%, 25%);
	--ac7: hsl(0, 0%, 10%);
	--ac8: hsl(0, 0%, 5%);
}