:root {
	--trans: 0.2s ease-in-out;
	--mobileWidth: 720px;
	--headerHeight: 80px;
	--aTime: 1s;

	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 64px;

	--cl1: rgb(255, 102, 51);
	--cl1_l: color-mix(in srgb, var(--cl1), transparent 90%);
	--cl1_d: color-mix(in srgb, var(--cl1), black 30%);
	--cl2: red;
	--cl3: green;
	--cl4: rgb(255, 162, 0);

	--overlay: rgba(128, 128, 128, 0.5);

	--ac1_: black;
	--ac2_: hsl(0, 0%, 30%);	
	--ac3_: hsl(0, 0%, 75%);
	--ac4_: hsl(0, 0%, 85%);
	--ac5_: white;

}

main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac4_);
	--ac5: var(--ac5_);
}

main.dark {
	--ac1: white;
	--ac2: hsl(0, 0%, 70%);
	--ac3: hsl(0, 0%, 25%);
	--ac4: hsl(0, 0%, 10%);
	--ac5: hsl(0, 0%, 5%);
}